header {
    background-image: $theme-gradation-green;
    .header-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 75px;
        padding: 0 2.5%;
        max-width: 1024px;
        margin: auto;

        .logo-container {
            width: 150px;
            height: 56px;
            z-index: 11;
            position: relative;
            .logo-icon {
                display: block;
                margin: auto;
                width: 20%;
            }
            .logo-border {
                position: absolute;
                background-color: #ffffff;
                height: 2px;
                width: 33%;
                top: 0;
                margin-top: 11.5%;
                &.left {
                    left: 4%;
                }
                &.right {
                    right: 4%;
                }
                &.short {
                    margin-top: 15%;
                    width: 25%;
                    &.left {
                        left: 14%;
                    }
                    &.right {
                        right: 14%;
                    }
                }
            }
            .logo-text {
                position: absolute;
                font-size: 20px;
                font-family: "Josefin Sans", sans-serif;
                color: #fff;
                vertical-align: bottom;
                text-align: center;
                bottom: 0;
                left: 0;
                right: 0;
                margin: 0 auto;
                line-height: 1.5;
            }
        }
        .tap-area {
            width: 35px;
            height: 35px;
            z-index: 11;
            &:hover {
                cursor: pointer;
            }
        }
        .h-btn {
            margin: 7px 0;
            height: 21px;
            position: relative;
            .bar {
                position: absolute;
                right: 0;
                left: 0;
                height: 2px;
                border-radius: 1px;
                background-color: #fff;
                width: 25px;
                margin: 0 auto;
                transition: 0.3s;
                transform-origin: 50% right;
            }
            .bar-top {
                top: 0;
            }
            .bar-middle {
                position: absolute;
                top: 0;
                bottom: 0;
                margin: auto;
            }
            .bar-bottom {
                bottom: 0;
            }
            &.showNav {
                .bar-top {
                    top: 9.5px;
                    transform: rotate(135deg);
                    transition: 0.3s;
                }
                .bar-bottom {
                    transform: rotate(-135deg);
                    transition: 0.3s;
                    bottom: 9.5px;
                }
                .bar-middle {
                    // position: absolute;
                    // margin-top: 15px;
                    width: 0;
                    transition: 0.3s;
                    // transform: rotate(-135deg);
                }
            }
        }
    }
}
